@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
html {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

* {
  user-select: none;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
}

nav > img {
  cursor: pointer;
}
nav > ul {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  position: fixed;
  top: -500%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 0;
  opacity: 0;
  flex-direction: column;
}
nav > ul.navOpen {
  top: 50%;
  padding: 70vw;
  height: auto;
  opacity: 1;
  animation: fadeIn 0.5s forwards ease-in-out;
}
nav > ul > img {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  top: -5vw;
  left: 30vw;
  filter: brightness(8);
  cursor: pointer;
}
nav > ul > button {
  margin: 1rem 0;
  border: none;
  background-color: transparent;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  color: #eef3f6;
  letter-spacing: 0.1em;
  border-radius: 0.5em;
  padding: 0.2em 0;
  width: 10rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
nav > ul > button:hover {
  letter-spacing: 0.2em;
  border-bottom-color: #eef3f6;
}
nav > ul > button:active {
  letter-spacing: 0.1em;
  transition: 0s;
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
    padding: 0;
  }
  99% {
    padding: 70vw;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    top: 50%;
    opacity: 1;
    padding: 70vw;
  }
  99% {
    top: 50%;
    padding: 0;
  }
  100% {
    top: -500%;
    opacity: 0;
  }
}
main {
  display: flex;
  flex-direction: column;
}
main > img {
  --extraWidth: 3rem;
  overflow: visible;
  position: relative;
  left: var(--extraWidth);
  object-fit: cover;
  width: calc(100% + var(--extraWidth));
}

.grayRoundedBox {
  position: absolute;
  top: 0;
  left: 50vw;
  width: 70vw;
  height: 60vh;
  background-color: #eef3f6;
  border-radius: 0 0 0 3rem;
  z-index: -1;
}

.info {
  padding: 0 2rem;
  margin: 5rem 0;
}
.info h1,
.info h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}
.info > h3 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #a0a1ac;
  font-size: 0.9rem;
  white-space: nowrap;
}
.info > h3 > span {
  background: #242942;
  color: white;
  padding: 0.2em 0.5em;
  border-radius: 999rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
  margin-right: 0.5rem;
}
.info > h1 {
  color: #242942;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
}
.info > h2 {
  color: #5b5f71;
  margin-bottom: 2rem;
  letter-spacing: 0.04em;
}
.info .callToAction {
  margin-top: 2.5rem;
  white-space: nowrap;
  letter-spacing: 0.15em;
}
.info .callToAction > span {
  display: inline-block;
  background-color: #ff5c5c;
  padding: 0.8em 1.3em;
  border-radius: 0.3em;
  margin-right: 1.2rem;
  cursor: pointer;
}
.info .callToAction > span:active {
  transform: translateY(0.1em);
  box-shadow: inset 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

@media screen and (min-aspect-ratio: 1/1) {
  body {
    width: 100%;
  }

  header {
    padding: 2.5rem 5vw;
  }

  nav > img {
    display: none;
  }
  nav > ul {
    position: relative;
    transform: none;
    flex-direction: row;
    left: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    opacity: 1;
    animation: none !important;
  }
  nav > ul > img {
    display: none;
  }
  nav > ul > button {
    color: #242942;
    width: 7rem;
  }
  nav > ul > button:hover {
    letter-spacing: 0.2em;
    border-bottom-color: #242942;
  }
  nav > ul > button:last-of-type {
    position: relative;
    margin-left: 4rem;
    color: #a0a1ac;
  }
  nav > ul > button:last-of-type:hover {
    border-bottom-color: #a0a1ac;
  }
  nav > ul > button:last-of-type::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #a0a1ac;
    opacity: 0.5;
  }

  main {
    margin: 0 5vw;
    margin-top: 2vh;
    width: 100%;
    flex-direction: row;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
  main > img {
    width: 65%;
    height: 50%;
  }

  .info {
    width: 30vw;
    padding: 0;
  }
  .info > h2 {
    font-size: 1rem;
    padding-right: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
