@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

$red: hsl(0, 100%, 68%);

$gray200: hsl(207, 33%, 95%);
$gray400: hsl(231, 7%, 65%);
$gray600: hsl(230, 11%, 40%);
$gray800: hsl(230, 29%, 20%);

// Barlow Condensed: 400, 700
// Barlow: 400

html {
	font-size: 18px;
	font-family: "Barlow", sans-serif;
	font-weight: 400;
}

* {
	user-select: none;
}

body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem 2rem;
}

nav {
	> img {
		cursor: pointer;
	}

	> ul {
		background-color: hsla(0 0 0 / 50%);
		z-index: 2;
		position: fixed;
		top: -500%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		padding: 0;
		opacity: 0;
		flex-direction: column;
		animation: fadeOut 0.5s forwards ease-in-out;
		
		&.navOpen {
			top: 50%;
			padding: 100vw;
			height: auto;
			opacity: 1;
			animation: fadeIn 0.5s forwards ease-in-out;
		}

		&::after {

		}

		> * {
			margin: 1rem 0;
			border: none;
			background-color: transparent;
			font-family: "Barlow Condensed", sans-serif;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1rem;
			color: $gray200;
			letter-spacing: 0.1em;
			border-radius: 0.5em;
			padding: 0.2em 1em;
			border: 2px solid transparent;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				letter-spacing: 0.2em;
				border-bottom-color: $gray200;
			}

			&:active {
				letter-spacing: 0.1em;
				transition: 0s;
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		top: 50%;
		opacity: 0;
		padding: 0;
	}
	99% {
		padding: 100vw;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		top: 50%;
		opacity: 1;
		padding: 100vw;
	}
	99% {
		top: 50%;
		padding: 0;
	}
	100% {
		top: -500%;
		opacity: 0;
	}
}

main > img {
	--extraWidth: 3rem;
	overflow: visible;
	position: relative;
	left: var(--extraWidth);
	object-fit: cover;
	width: calc(100% + var(--extraWidth));
}

.grayRoundedBox {
	position: absolute;
	top: 0;
	left: 50vw;
	width: 100vw;
	height: 60vh;
	background-color: $gray200;
	border-radius: 0 0 0 3rem;
	z-index: -1;
}

.info {
	padding: 0 2rem;
	margin: 5rem 0;

	h1,
	h3 {
		font-family: "Barlow Condensed", sans-serif;
		font-weight: 400;
	}

	> h3 {
		text-transform: uppercase;
		letter-spacing: 0.3em;
		color: $gray400;
		font-size: 0.9rem;

		> span {
			background: $gray800;
			color: white;
			padding: 0.2em 0.5em;
			border-radius: 999rem;
			font-weight: 700;
			text-align: center;
			letter-spacing: 0.1em;
			margin-right: 0.5rem;
		}
	}

	> h1 {
		color: $gray800;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2.5rem;
		line-height: 2.5rem;
		margin: 0;
	}

	> h2 {
		color: $gray600;
		margin-bottom: 2rem;
		letter-spacing: 0.04em;
	}

	.callToAction {
		margin-top: 2.5rem;
		white-space: nowrap;
		letter-spacing: 0.15em;

		> span {
			display: inline-block;
			background-color: $red;
			padding: 0.8em 1.3em;
			border-radius: 0.3em;
			margin-right: 1.5rem;
			cursor: pointer;

			&:active {
				transform: translateY(0.1em);
				box-shadow: inset 0.3em 0.3em 0.3em hsla(0 0 0 / 20%);
			}
		}
	}
}
